{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}

{% block context %}
<style>
  .product-detail {
    text-align:justify;
  }

  .product-detail .price {
      color:#333;
      font-size:28px;
      font-weight:bold;
  }

  .product-detail img {
      width:30%;
      float:left;
      padding:0 20px 20px 0;
  }

  .product-detail h1 {
      margin-bottom:0;
  }

  .product-detail h2 {
      margin-top:10px;
  }

  input[type="submit"] {
    color:#fff;
    background:#5993bb;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

</style>
  <div class="product-detail">
    <img src="{{ product.image.url }}">
    <h1>{{ product.name }}</h1>
    <h2><a href="{% url 'product_list_by_category' product.category|lower %}">{{ product.category }}</a></h2>
    <p class="price">₴{{ product.price }}</p>
    <form action="{% url 'orderlist:orderlist_add' product.id %}" method="post">
    {{ orderlist_form }}
    {% csrf_token %}
    <input type="submit" value="Add to order list">
</form>
    {{ product.description|linebreaks}}
  </div>
{% endblock %}