{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}

{% block context %}
  <div class="blog-product">
    <h1>{{ object.name }}</h1>
    <hr/>
    <img src="{{ product.image.url }}">
    <p class="blog-post-meta text-secondary">Price: {{ product.price }}₴</p>
    <p>{{ object.category|safe }}</p>
  </div>
{% endblock %}