{% extends 'shop/base.html' %}
{% load static %}

{% block title %}{{ object.name }}{% endblock %}

{% block script %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{% endblock %}

{% block context %}
  <div class="product-detail">
    <img src="{{ product.image.url }}">
    <h1>{{ product.name }}</h1>
    <h2>{{ product.category }}</h2>
    <h2><a href="{{ product.get_shop_slug }}">{{ product.shop }}</a></h2>
    <p class="price">₴{{ product.price }}</p>
    <form action="{% url 'orderlist:orderlist_add' product.id %}" method="post">
    {{ orderlist_form }}
    {% csrf_token %}
    <input type="submit" value="Buy">
</form>
      <div class="product-description" style="word-wrap: break-word">
          {{ product.description}}
      </div>
  </div>
{% endblock %}