{% extends 'registration/base.html' %}
{% load static %}
{% load mathfilters %}
{% block title %} Orders history {% endblock %}
{% block context %}
<div style="margin-left: 75px">
    <h1>Your orders history </h1>
    <hr>
    {% if orderhistory %}
    <table class="order-history" style="width: 95%;">
        <thead>
            <tr>
                <th>Order id</th>
                <th>Products</th>
                <th>Price</th>
                <th>Promocode</th>
                <th>Address</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orderhistory %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{% for item in orderitem %}
                        {% if order.id == item.order_id %}
                            {{ item.quantity }}x {{item.product}}<br>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{% for item in orderitem %}
                        {% if order.id == item.order_id %}
                            {{ item.quantity|mul:item.price }} ({{ item.price }})<br>
                        {% endif %}
                    {% endfor %}
                </td>
                {% if order.promocode %}
                <td>{{ order.promocode }} ({{ order.discount }}%)</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td>{{ order.address }}</td>
                <td>{{ order.created }}</td>
            </tr>
            {% endfor %}
            <tr class="total-sum">
                <td colspan="6"></td>
            </tr>
        </tbody>
    </table>
    {% else %}
<p style="font-style:oblique; font-size: 400%">Sorry, but you haven't made any orders yet.</p>
{% endif %}
</div>

{% endblock %}