{% extends "registration/base.html" %}
{% block title %}Create an account{% endblock %}
{% block context %}
<h1>Create an account</h1>
<p>You can sign up by using the following form:</p>
<form action="." method="post">
    {{ register_form.as_p }}
    {% csrf_token %}
    <input type="text" id="random">
    <p><input type="submit" id="register-button" value="Create account"></p>
</form>
{% endblock %}

{#<script>#}
{#    let entrepreneur = document.getElementById("id_register_like_1")#}
{#    let element = document.getElementById("random")#}
{#    element.classList.add("test");#}
{#    entrepreneur.addEventListener("click", function (){#}
{##}
{#    })#}
{#</script>#}